// =====================================================================================================================
.header {
  width: calc(100% - 120px);
  background-color: #fff;
  margin: 30px 60px 0 60px;
  border-radius: $mainRadius;
  @include media(1366) {
    margin-right: 20px;
    margin-left: 20px;
    width: calc(100% - 40px);
  }
  &.sticky {
    // ..стили для липкого хедера
  }
  &-inner {
    padding: 14px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-box {
    display: flex;
    align-items: center;
    column-gap: 46px;
  }
  &-nav {
    position: relative;
    width: auto;
    height: auto;
    opacity: 1;
    visibility: visible;
    padding: 0;
    overflow-y: hidden;
    &__item {
    }
    &__link {
      font-size: rem(18);
      transition: .4s;
      &:hover {
        color: $--accent-color;
      }
    }
  }
  &-socialBx {
    display: flex;
    align-items: center;
    column-gap: 12px;
    &__item {
      //transition: .4s;
      //border-radius: 50%;
      //display: flex;
      //& path {
      //  transition: .4s;
      //}
      //&:hover {
      //  & path {
      //    &:first-child {
      //      fill: rgba(98, 101, 174, 1);
      //    }
      //  }
      //}
    }
  }
  &-burger {
    display: none;
  }
  @include media(1080) {
    &-box {
      column-gap: 21px;
    }
  }
  @include media(768) {
    margin: 0;
    width: 100%;
    background-color: transparent;
    margin-top: 20px;
    &-inner {
      background-color: #fff;
      border-radius: 10px;
      padding: 15px;
      position: relative;
      z-index: 32;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 35;
        border-radius: 10px;
      }
    }
    &-nav {
      position: fixed;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      z-index: 30;
      background-color: rgba(0,0,0, .7);
      padding-top: 80px;
      padding-right: 16px;
      padding-left: 16px;
    }
    &-box {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 20px;
      width: 100%;
      background-color: #fff;
      padding: 30px 0;
      border-radius: 0 0 10px 10px;
    }
    &-logoBx {
      max-width: 60px;
      position: relative;
      z-index: 36;
      & img {
        width: 100%;
      }
    }
    &-socialBx {
      column-gap: 12px;
      position: relative;
      z-index: 36;
      &__item {
        width: 26px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &-burger {
      width: 38px;
      height: 38px;
      background: rgba(234, 242, 255, 1);
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: relative;
      z-index: 36;
      &.active {
        & span {
          background-color: transparent;
          &:after {
            transform: translate(-50%, 0) rotate(45deg);
          }
          &:before {
            transform: translate(-50%, 0) rotate(-45deg);
          }
        }
      }
      & span {
        width: 12px;
        height: 2px;
        background: rgba(24, 29, 34, 1);
        border-radius: 2px;
        position: relative;
        transition: .4s;
        &:after, &:before {
          content: '';
          position: absolute;
          left: 50%;
          top: 0;
          transform: translateX(-50%);
          width: 18px;
          height: 2px;
          background: rgba(24, 29, 34, 1);
          border-radius: 2px;
          transition: .4s;
        }
        &:after {
          transform: translate(-50%, 6px);
        }
        &:before {
          transform: translate(-50%, -6px);
        }
      }
    }
  }
}
// =====================================================================================================================
